@model IEnumerable<SimpleOrderApp.Domain.Location>

@{
  ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
  <a asp-action="Create">Create New</a>
</p>
<p>@ViewData["LocationCount"] locations found</p>

<p>
  @if (TempData.ContainsKey("CreatedLocation"))
  {
    @:most recently created location: @TempData.Peek("CreatedLocation")
    @*
      by default, each value in TempData is remembered (in cookies) until the next request
      that accesses that value. then it is marked for removal from the cookie for subsequent requests.
      - un-mark a value from deletion with the Keep method
      - avoid it being marked in the first place with the Peek method
    *@
  }
</p>

<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Stock)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
          @Html.ActionLink("Edit", "Edit", new { id = item.Name }) |
          @Html.ActionLink("Details", "Details", new { id = item.Name }) |
          @Html.ActionLink("Delete", "Delete", new { id = item.Name })
          @Html.RouteLink("click here", "")
        </td>
      </tr>
    }
  </tbody>
</table>
